<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>商品一覧</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="components/product-header.css">
  <link rel="stylesheet" href="components/product.css">
  <link rel="stylesheet" href="components/product-list.css">
</head>
<body>
<!-- 6-2.リスト2 -->
<div id="app">
  <product-list　　　　></product-list>
</div>
<script src="https://jp.vuejs.org/js/vue.js"></script>
<script src="common/filter.js"></script>
<script src="components/product-header.js"></script>
<script src="components/product.js"></script>
<script src="components/product-list.js"></script>
<script src="js/main.js"></script>
</body>
</html>
<!-- 6.リスト28 -->
<!-- <div id="app">
  <table border="1">
  <tbody>
    <tr is="my-row" v-for="product in products" 
                v-bind="product" 
                v-bind:key="product.id">
  </tr>
  </tbody>
  </table>
</div> -->

<!-- 6.リスト27 -->
<!-- <div id="app">
  <ul>
    <my-product v-for="product in products" 
                v-bind="product" 
                v-bind:key="product.id">
    </my-product>
  </ul>
</div> -->

<!-- 6.リスト22 -->
<!-- <div id="app">
  <my-product v-on:click.native="priceDown" v-bind:price="price" ></my-product>
</div> -->

  <!-- 6.リスト16リスト20 -->
    <!-- <div id="app">
      <my-product v-on:child-click="priceDown" v-bind:price="price" ></my-product>
    </div> -->

  <!-- 6.リスト10 -->
  <!-- <div id="app">
    <my-product name="スマホケースA" price="980"></my-product>
    <my-product name="スマホケースB" price="1580"></my-product>
  </div> -->
  <!-- 6.リスト7 -->
  <!-- <div id="app">
    <my-component></my-component>
  </div> -->

  <!-- 6.リスト4
  <div id="app">
    <my-product></my-product>
  </div> -->

<!-- 6.リスト3
<div id="app">
  <p>ここにコンポーネントが入ります</p>
  <show-hellow></show-hellow>
</div> -->
<!-- <script src="https://jp.vuejs.org/js/vue.js"></script>
<script src="js/my-component.js"></script>
<script src="js/my-product.js"></script>
<script src="js/main.js"></script>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>商品一覧</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="components/product-header.css">
  <link rel="stylesheet" href="components/product.css">
  <link rel="stylesheet" href="components/product-list.css">
</head>
<body>
<div id="app">
  <product-list v-bind:products="products"></product-list>
</div>
<script src="https://jp.vuejs.org/js/vue.js"></script>
<script src="common/filter.js"></script>
<script src="components/product-header.js"></script>
<script src="components/product.js"></script>
<script src="components/product-list.js"></script>
<script src="main.js"></script>
</body>
</html> -->