<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Vue.jsのツボとコツがゼッタイにわかる本の学習</title>
</head>
<body>
  <!-- 2-9.カレンダーの範囲を制限する -->
  <div id="app">
    <p>ご希望到着日：{{arrival_date}}</p>
    <input type="date"　v-model="arrival_date" v-bind:min="min_date">
  </div>
  
  <!-- 2-9.カレンダーにバインディングする
  <div id="app">
    <p>ご希望到着日：{{arrival_date}}</p>
    <input type="date"　v-model="arrival_date">
  </div> -->

  <!-- 2-7.resizeのイベントハンドリング-
  <div id="app">
    <p>マウスのカーソル位置:{{point.x}} {{point.y}}</p>
  </div> -->

  <!-- 2-7.resizeのイベントハンドリング-
  <div id="app">
    ウィンドウの横幅：{{width}}<br />
    ウィンドウの高さ：{{height}}
  </div> -->

  <!-- 2-7.クリックイベントの使用例(vue未使用)
  <div id="app">
      <span class="num"></span>
      <button class="btn">削除</button>
  </div> -->

  <!-- 2-7.クリックイベントの使用例
  <div id="app">
    <template v-if="stock >1">
      <span class="num">残り{{stock}}個</span>
      <button class="btn" v-on:click="onDeleteItem">削除</button>
    </template>
    <template v-else>在庫なし</template>
  </div> -->

  <!-- 2-7.クリックイベントの使用例
  <div id="app">
    <template v-if="stock == 1">はじめ
      <p><span class="num">残り{{stock}}個</span></p>
      <p><button class="btn" v-on:click="onDeleteItem">削除</button></p>
    </template>
    <template v-else-if="stock ==2 ">在庫があり
      <p><span class="num">残り{{stock}}個</span></p>
      <p><button class="btn" v-on:click="onDeleteItem">削除</button></p>
    </template>
    <template v-else>余り
      <p><span class="num">残り{{stock}}個</span></p>
      <p><button class="btn" v-on:click="onDeleteItem">削除</button></p>
    </template>
  </div> -->

  <!--  2-5.フィルターを組み合わせて使用する
  <div id="app">
    <div v-show="show">
      <p>コンソールで、app.show=true から app.show=false そして、app.show=trueの戻す</p>
      <p>now1: "{{ now1()}}"</p><!-メソッド->
      <p v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
        メソッド、は描画されるたびに更新キャッシュ値がとりだされる。
      </p>
      <p>now2: "{{ now2 }}"</p><-算出プロパティ->
      <p v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
        算出プロパティは、リアクティブデータdataが更新されると、キャッシュを捨てて再実行する。<br>つまり、時間が変わる</p>
      </div>
  </div> -->
  <!--
  <h2>フィルター</h2>
  <ul>
    <li>フィルターは、テキストに出力する前に何らかの加工ができる</li>
    <li>（例）例えば、1,280円のように、1280を代入するだけで、カンマで区切ったり、小数点以下を丸めたりできる</li>
  </ul>
  <h2>書式</h2>
  <p class="filter">Vue.filetr(フィルター名、関数オブジェクト);</p>
  <p></p>
  <p class="filter">filters:{ フィルター名：関数オブジェクト }</p>
  <p></p>
  <p class="filter">{{ プロパティ | フィルター名 | フィルター名 }}</p>
  <p></p>
  <p class="filter">
    属性にv-bindする場合も<br>
    要素名 v-bind:属性名　= " プロパティ | フィルター名 | フィルター名"
  </p>

  2-5.フィルターを組み合わせて使用する
  <div id="app">
    <p>{{ price | unit }}</p>
    <p>{{ price | number_format | unit }}</p>
  </div> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>